/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
/* Global Reset */
/* line 9, ../sass/screen.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 14, ../sass/screen.scss */
html, body {
  height: 100%;
}

/* line 18, ../sass/screen.scss */
body {
  background-color: white;
  font: 18px helvetica, arial, clean, sans-serif;
  text-align: center;
}

/* line 24, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

/* line 28, ../sass/screen.scss */
h1 {
  margin-bottom: 1em;
}

/* line 32, ../sass/screen.scss */
p {
  margin: 1em 0;
}

/* line 36, ../sass/screen.scss */
a {
  color: #00a;
}

/* line 40, ../sass/screen.scss */
a:hover {
  color: black;
}

/* line 44, ../sass/screen.scss */
a:visited {
  color: #a0a;
}

/* line 48, ../sass/screen.scss */
table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
/* line 59, ../sass/screen.scss */
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}
/* line 63, ../sass/screen.scss */
ul.posts li {
  line-height: 1.75em;
}
/* line 67, ../sass/screen.scss */
ul.posts span {
  color: #aaa;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
/* line 79, ../sass/screen.scss */
.site {
  font-size: 110%;
  text-align: justify;
  width: 40em;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
}
/* line 86, ../sass/screen.scss */
.site .meta {
  color: #aaa;
}
/* line 90, ../sass/screen.scss */
.site .title {
  background-color: #3f92d2;
  color: #a00;
  font-weight: bold;
  margin-bottom: 2em;
}
/* line 96, ../sass/screen.scss */
.site .title a {
  color: #00a;
  text-decoration: none;
}
/* line 100, ../sass/screen.scss */
.site .title a:hover {
  color: black;
}
/* line 105, ../sass/screen.scss */
.site .title a.extra {
  color: #aaa;
  text-decoration: none;
  margin-left: 1em;
}
/* line 109, ../sass/screen.scss */
.site .title a.extra:hover {
  color: black;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
/* line 123, ../sass/screen.scss */
#post h1, #post h2, #post h3, #post h4 {
  font-family: "league-gothic", "Arial Black", sans-serif;
  font-weight: 400;
}
/* line 128, ../sass/screen.scss */
#post h1 {
  font-size: 200%;
}
/* line 129, ../sass/screen.scss */
#post h2 {
  font-size: 170%;
}
/* line 130, ../sass/screen.scss */
#post h3 {
  font-size: 150%;
}
/* line 131, ../sass/screen.scss */
#post h4 {
  font-size: 120%;
}
/* line 133, ../sass/screen.scss */
#post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
  line-height: 1;
}
/* line 139, ../sass/screen.scss */
#post pre code {
  border: none;
}
/* line 144, ../sass/screen.scss */
#post pre.terminal {
  border: 10px solid #eee;
  background-color: #333;
  color: white;
}
/* line 149, ../sass/screen.scss */
#post pre.terminal code {
  background-color: #333;
}
/* line 154, ../sass/screen.scss */
#post code {
  border: 1px solid #ddd;
  background-color: #eef;
  font-size: 75%;
  padding: 0 .2em;
}
/* line 161, ../sass/screen.scss */
#post ul, #post ol {
  margin-left: 1.35em;
}
/* line 165, ../sass/screen.scss */
#post blockquote {
  padding: 0em 1em;
  margin: 1em;
  display: block;
  border: 1px dotted gray;
  background-color: #eee;
}

/* line 174, ../sass/screen.scss */
#related {
  margin-top: 2em;
}
/* line 177, ../sass/screen.scss */
#related h2 {
  margin-bottom: 1em;
}

/* line 182, ../sass/screen.scss */
.clear {
  clear: both;
}
